@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-file-picker {
  display: flex;
  position: relative;
  flex-direction: row;

  .file-select-overlay {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: calc(100% - 70px);
    height: 31px;
    opacity: 0;

    &-text {
      display: block;
      width: 100%;
      padding: 33px 0 0;
      cursor: text;
    }
  }

  .background {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 33px;
    border: 1px solid $frost-color-grey-6;

    .frost-text {
      border-right: 1px solid $frost-color-grey-6;

      > input {
        height: 31px;
      }
    }
  }

  &.full {
    flex: 1;
  }

  &.over {
    .background {
      border: 1px dashed $frost-color-blue-1;

      .frost-text {
        border-right: 1px dashed $frost-color-blue-1;
      }
    }
  }

  .frost-text {
    width: 100%;
  }

  .frost-button {
    &.file {
      width: 70px;
    }
  }
}
