@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-file-picker {
  position: relative;
  display: flex;
  flex-direction: row;

  .file-select-overlay {
    position: absolute;
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    width: calc(100% - 70px);

    &-text {
      display: block;
      padding: 33px 0 0 0;
      cursor: text;
      width: 100%;
    }
  }

  .background {
    height: 33px;
    flex: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $frost-color-grey-6;

    .frost-text {
      border-right: 1px solid $frost-color-grey-6;
      > input {
        height: 31px;
      }
    }
  }

  &.full {
    flex: 1;
  }

  &.over {
    .background {
      border: 1px dashed $frost-color-blue-1;
      .frost-text {
        border-right: 1px dashed $frost-color-blue-1;
      }
    }
  }

  .frost-text {
    width: 100%;
  }

  .frost-button {
    &.file {
      width: 70px;
    }
  }
}
