@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-file-picker {
  position: relative;
  display: flex;
  flex-direction: row;
  .file-select-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    opacity: 0;
  }
  &.full {
    flex: 1;
  }
  &.over {
    .frost-text {
      border-bottom-color:$frost-color-blue-3 !important;
    }
  }
}

.frost-file-picker .file-select-overlay .text {
  display: block;
  padding: 32px 0 0 0;
  cursor: text;
}

.frost-file-picker .file-select-overlay .button,
.frost-file-picker .file-select-overlay .button input {
  display: block;
  padding: 32px 0 0 0;
  cursor: pointer;
}

.frost-file-picker .background {
  flex: 1;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}


.frost-file-picker .frost-text,
.frost-file-picker .file-select-overlay .text {
  transition: border-bottom-color 1s ease;
  width: 100%;
}

.frost-file-picker .frost-text:read-only {
  border-bottom-color: $frost-color-grey-6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.frost-file-picker .frost-button.file,
.frost-file-picker .file-select-overlay .button {
  width: 70px;
  border: none;
  border-bottom-color: $frost-color-grey-6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left: 1px solid $frost-color-grey-6;
}
