<div class="file-select-overlay">
  {{input type="file" accept=accept class="file-select-overlay-text frost-file-select"}}
</div>
<div class="background">
  {{frost-text
    hook=hook
    isHookEmbedded=true
    value=fileName
    placeholder=placeholderText
    readonly=true}}
  {{frost-button
    hook=(concat hook '-button')
    size="small"
    priority="tertiary"
    text='Browse'}}
</div>
