<div class="file-select-overlay">
  {{input type="file" accept=accept class="text frost-file-select"}}
  {{input type="file" accept=accept class="button frost-file-select"}}
</div>
<div class="background">
  {{frost-text
    value=fileName
    placeholder="Drop your file here"
    readonly=true}}
  {{frost-button
    size="small"
    priority="tertiary"
    text='Browse'}}
</div>
