
<div class="dummy-header">File input</div>
<div class="dummy-padding">
    <div class="dummy-input">
      {{frost-file-picker
        accept='.jpeg'
        validate=(action "validateFile")
        onChange=(action "fileChanged")}}
    </div>
</div>
